Header always set Content-Security-Policy: upgrade-insecure-requests
# Скрываем отображение ошибок на странице
php_flag display_errors off

# Запред на просмотр каталогов
Options All -Indexes

#Правила для маршрутизации
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]

# Перенаправление на страницу 404.php
#ErrorDocument 404 /404.php

# Скрыть расширение файла .php
#RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME}\.php -f
#RewriteRule ^(.*)$ $1.php

# DO NOT REMOVE THIS LINE AND THE LINES BELLOW UPGRADE_INSECURE_REQUESTS:filive.tech
Header always set Content-Security-Policy: upgrade-insecure-requests
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW UPGRADE_INSECURE_REQUESTS:filive.tech


# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:filive.ru
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} (www\.)?filive.ru
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:filive.ru